.manage-doctor-container {
    padding: 5px;

    .manage-doctor-editor {
        padding-top: 20px;
    }

    .manage-doctor-title {
        padding-bottom: 20px;
    }

    .save-content-doctor {
        margin-top: 20px;
    }

    .create-content-doctor {
        margin-top: 20px;
    }
}