.doctor-detail-container {
    height: 500px;

    .intro-doctor {
        display: flex;
        margin : 0 100px;

        .content-left {
            background   : center center no-repeat;
            width        : 120px;
            height       : 120px;
            border-radius: 50%;
            margin       : 10px 20px;

        }

        .content-right {
            padding-left  : 10px;
            width         : 85%;
            // height: 120px;
            display       : flex;
            flex-direction: column;

            .up {
                padding-top: 15px;
                font-size  : 30px;
                font-weight: 600;
            }

            .down {
                padding-top: 20px;
            }
        }
    }

    .detail-info-doctor {
        padding      : 20px 120px;
        border-top   : 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        background   : #f9f9f9;
    }

    .comment-doctor {
        height: 50px;
    }

    h3 {
        font-size: 20px;
    }
}