.profile-doctor-content {
    .price {
        padding-top: 5px;
    }

    .intro-doctor {
        display: flex;

        .content-left {
            background-size    : cover;
            background-position: center;
            background-repeat  : no-repeat;
            width              : 100px;
            height             : 100px;
            border-radius      : 50%;

        }

        .content-right {
            padding-left  : 10px;
            width         : calc(100% - 100px);
            // height: 120px;
            display       : flex;
            flex-direction: column;

            .up {
                font-weight: 600;
            }

            .down {
                padding-top: 10px;
                text-align : justify;

                .booking-free {
                    font-style: italic
                }
            }
        }
    }
}